:root{
    --cor-fundo: rgb(0, 0, 0);
    --cor-pricipal: rgb(3, 22, 73);
    --cor-secundaria:rgb(0, 0, 0);
    --cor-destaque: rgb(130, 60, 243);
    --cor-texto: rgb(248, 210, 210);
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.caixa-principal{
    background-color: var(--cor-pricipal);
    width: 90%;
    text-align: center;
    padding: 20px;
    max-width: 600px;
    border-radius: 25px;
}
h1{
    color: var(--cor-destaque);
}
button{
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    padding: 11px;
    margin: 15px;
    border-radius: 25px;
}
button:hover{
    background-color: var(--cor-destaque);
}